
@import 'modules/common';

html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  min-height: 100%;
}

body {
  background-color: #6496A5;
  background-image: url('/resources/images/bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;

  /* css3 */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  div#content-container {
    height: 100%;

    div#center-container {
      height: 100%;

      img#tablet {
        @include center_layout;
        margin: auto;
        max-width: 100%;
      }

      div#video-container {
        @include center_layout;

        video.video-player {
          @include center_layout;
          margin: auto;
          z-index: 10;
          opacity: 0.5;

          background-color: black;
        }

        img#speaker {
          @include center_layout;
          cursor: pointer;
          margin: auto;

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }

    div#left-container img {
      position: fixed;
    }

    div#right-container img {
      position: fixed;
    }
  }
}

