
@media (min-width:1000px) and (max-width:1100px) {
  div#left-container img {
    top: -15%;
    left: -27%;
  }

  div#center-container img#tablet {
    max-height: 550px;
  }

  div#right-container img {
    top: -5%;
    right: -8%;
  }
}

@media (min-width:1100px) and (max-width:1200px) {
  div#left-container img {
    top: -15%;
    left: -23%;
  }

  div#right-container img {
    top: -5%;
    right: -3%;
  }
}

@media (min-width:1200px) and (max-width:1300px) {
  div#left-container img {
    top: -15%;
    left: -15%;
  }

  div#right-container img {
    top: -5%;
    right: 3%;
  }
}

@media (min-width:1300px) {
  div#left-container img {
    top: -15%;
    left: -10%;
  }

  div#right-container img {
    top: -5%;
    right: 5%;
  }
}

