
@media (min-width:500px) and (max-width:530px) {
  div#left-container img {
    top: -27%;
    left: -96%;
  }

  div#right-container img {
    top: -5%;
    right: -62%;
  }
}

@media (min-width:530px) and (max-width:560px) {
  div#left-container img {
    top: -17%;
    left: -93%;
  }

  div#right-container img {
    top: -10%;
    right: -58%;
  }
}

@media (min-width:560px) and (max-width:590px) {
  div#left-container img {
    top: -13%;
    left: -85%;
  }

  div#right-container img {
    top: -10%;
    right: -52%;
  }
}

@media (min-width:590px) and (max-width:620px) {
  div#left-container img {
    top: -13%;
    left: -80%;
  }

  div#right-container img {
    top: -10%;
    right: -47%;
  }
}

@media (min-width:620px) and (max-width:650px) {
  div#left-container img {
    top: -13%;
    left: -75%;
  }

  div#right-container img {
    top: -10%;
    right: -42%;
  }
}

@media (min-width:650px) and (max-width:680px) {
  div#left-container img {
    top: -13%;
    left: -68%;
  }

  div#right-container img {
    top: -10%;
    right: -38%;
  }
}

@media (min-width:680px) and (max-width:700px) {
  div#left-container img {
    top: -13%;
    left: -63%;
  }

  div#right-container img {
    top: -10%;
    right: -35%;
  }
}

